<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Zoneminder</h4>
         </div>
         <div class="modal-body">
            <div class="float-right">
               <img src="../img/modules/zoneminder.png"  width="48" height="48">
               <br><br><p><b>v.1.0.7</b></p>
            </div>
            <p class="float-left">
               <#LANG_ZONEMINDER_ABOUT_TEXT#>
            </p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><#LANG_ZONEMINDER_CLOSE#></button>
         </div>
      </div>
   </div>
</div>