<script type="text/javascript">
  function fillUpdateForm(id, name) {
    $("#editMonitorForm > div > div > input[name='monitorname']").val(name);
    $("#editMonitorForm > div > div > input[name='monitor']").val(id);
  }
</script>
<style>
  div[style="display: grid;"] {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 8px;
  }

  @media (max-width: 1000px) {
    div[style="display: grid;"] {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .zm-grid-element {
    border-bottom: 1px solid #CCCCCC;
  }

  .zm-bold {
    font-weight: bold;
  }
</style>
<div style="display: grid;">
  <div class="zm-bold zm-grid-element"><#LANG_ZONEMINDER_COLUMN_ID#></div>
  <div class="zm-bold zm-grid-element"><#LANG_ZONEMINDER_COLUMN_NAME#></div>
  <div class="zm-bold zm-grid-element" style="text-align: center"><#LANG_ZONEMINDER_COLUMN_FUNCTION#></div>
  <div class="zm-bold zm-grid-element"><#LANG_ZONEMINDER_COLUMN_SOURCE#></div>
  <div class="zm-bold zm-grid-element" style="text-align: center"><#LANG_ZONEMINDER_COLUMN_HOUR#></div>
  <div class="zm-bold zm-grid-element" style="text-align: center"><#LANG_ZONEMINDER_COLUMN_DAY#></div>
  <div class="zm-bold zm-grid-element" style="text-align: center"><#LANG_ZONEMINDER_COLUMN_WEEK#></div>
  <div class="zm-bold zm-grid-element" style="text-align: center"><#LANG_ZONEMINDER_COLUMN_MONTH#></div>
  <!--<div class="zm-bold" style="text-align: center"><#LANG_ZONEMINDER_COLUMN_ENABLED#></div>-->
  [#begin MONITORS#]
    <div class="zm-grid-element">[#Id#]</div>
    <div class="zm-grid-element">
      <div style="display: flex; flex-direction: column; align-items: center; gap: 8px; width: 100%;">
        <div><img src="/camera.php?scale=3&id=[#Id#]" width="48" height="27"></div>
        <div style="display: flex; flex-direction: row; align-items: center; gap: 16px; width: 100%; justify-content: space-between;">
          <div style="display: flex; flex-direction: row; align-items: center; align-content: flex-start; gap: 4px;">
            <div style="width: 14px; height: 14px; border-radius: 7px; background: [#monitor_color#];"></div>
            <a style="font-weight: 600;" href="?view_mode=monitor&monitor=[#Id#]">[#Name#]</a>
          </div>
          <div data-toggle="modal" data-target="#editMonitor" style="cursor: pointer;" onclick="fillUpdateForm([#Id#], '[#Name#]');" title="Rename"><i class="glyphicon glyphicon-edit"></i></div>
        </div>
      </div>
    </div>
    <div class="zm-grid-element" style="text-align: center">
      <div style="display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
        <span style="font-weight: 600;">[#Function#]</span>
        <span style="font-size: 0.8em;">[#CaptureFPS#] fps&nbsp;[#CaptureBandwidth#]</span>
      </div>
    </div>
    <div class="zm-grid-element">[#IP#]</div>
    <div class="zm-grid-element" style="text-align: center">
      <div style="display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
        <span><a href="?view_mode=events&monitor=[#Id#]&mode=hour&monitorname=[#Name#]">[#HourEvents#]</a></span>
        <span style="font-size: 0.8em;">[#HourEventDiskSpace#]</span>
      </div>
    </div>
    <div class="zm-grid-element" style="text-align: center">
      <div style="display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
        <span><a href="?view_mode=events&monitor=[#Id#]&mode=day&monitorname=[#Name#]">[#DayEvents#]</a></span>
        <span style="font-size: 0.8em;">[#DayEventDiskSpace#]</span>
      </div>
    </div>
    <div class="zm-grid-element" style="text-align: center">
      <div style="display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
        <span><a href="?view_mode=events&monitor=[#Id#]&mode=week&monitorname=[#Name#]">[#WeekEvents#]</a></span>
        <span style="font-size: 0.8em;">[#WeekEventDiskSpace#]</span>
      </div>
    </div>
    <div class="zm-grid-element" style="text-align: center">
      <div style="display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
        <span><a href="?view_mode=events&monitor=[#Id#]&mode=month&monitorname=[#Name#]">[#MonthEvents#]</a></span>
        <span style="font-size: 0.8em;">[#MonthEventDiskSpace#]</span>
      </div>
    </div>
    <!--<div style="text-align: center"><input type="checkbox" [#if Enabled="1"#]checked[#endif#] onclick="return false;"></div>-->
  [#end MONITORS#]
</div>
<!--
<table align=center class="table table-hover table-condensed table-responsive" style="margin-top: 1em;">
  <thead>
  <tr>
    <th><#LANG_ZONEMINDER_COLUMN_ID#></th>
    <th><#LANG_ZONEMINDER_COLUMN_NAME#></th>
    <th style="text-align: center"><#LANG_ZONEMINDER_COLUMN_FUNCTION#></th>
    <th><#LANG_ZONEMINDER_COLUMN_SOURCE#></th>
    <th style="text-align: center"><#LANG_ZONEMINDER_COLUMN_HOUR#></th>
    <th style="text-align: center"><#LANG_ZONEMINDER_COLUMN_DAY#></th>
    <th style="text-align: center"><#LANG_ZONEMINDER_COLUMN_WEEK#></th>
    <th style="text-align: center"><#LANG_ZONEMINDER_COLUMN_MONTH#></th>
    <th style="text-align: center"><#LANG_ZONEMINDER_COLUMN_ENABLED#></th>
  </tr>
  </thead>
  <tbody>

  [#begin MONITORS#]
  <tr>
    <td>[#Id#]</td>
    <td>
      <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 8px;">
        <div><img src="/camera.php?scale=3&id=[#Id#]" width="48" height="27"></div>
        <div style="display: flex; flex-direction: row; align-items: center; gap: 16px;">
          <div style="width: 14px; height: 14px; border-radius: 7px; background: [#monitor_color#];"></div>
          <a style="font-weight: 600;" href="?view_mode=monitor&monitor=[#Id#]">[#Name#]</a>
          <div data-toggle="modal" data-target="#editMonitor" style="cursor: pointer;" onclick="fillUpdateForm([#Id#], '[#Name#]');"><i class="glyphicon glyphicon-edit"></i></div>
        </div>
      </div>
    </td>
    <td style="text-align: center">
      <div style="display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
        <span style="font-weight: 600;">[#Function#]</span>
        <span style="font-size: 0.8em;">[#CaptureFPS#] fps&nbsp;[#CaptureBandwidth#]</span>
      </div>
    </td>
    <td>[#IP#]</td>
    <td style="text-align: center">
      <div style="display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
        <span><a href="?view_mode=events&monitor=[#Id#]&mode=hour&monitorname=[#Name#]">[#HourEvents#]</a></span>
        <span style="font-size: 0.8em;">[#HourEventDiskSpace#]</span>
      </div>
    </td>
    <td style="text-align: center">
      <div style="display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
        <span><a href="?view_mode=events&monitor=[#Id#]&mode=day&monitorname=[#Name#]">[#DayEvents#]</a></span>
        <span style="font-size: 0.8em;">[#DayEventDiskSpace#]</span>
      </div>
    </td>
    <td style="text-align: center">
      <div style="display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
        <span><a href="?view_mode=events&monitor=[#Id#]&mode=week&monitorname=[#Name#]">[#WeekEvents#]</a></span>
        <span style="font-size: 0.8em;">[#WeekEventDiskSpace#]</span>
      </div>
    </td>
    <td style="text-align: center">
      <div style="display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
        <span><a href="?view_mode=events&monitor=[#Id#]&mode=month&monitorname=[#Name#]">[#MonthEvents#]</a></span>
        <span style="font-size: 0.8em;">[#MonthEventDiskSpace#]</span>
      </div>
    </td>
    <td style="text-align: center"><input type="checkbox" [#if Enabled="1"#]checked[#endif#] onclick="return false;"></td>
  </tr>
  [#end MONITORS#]
  <tr>
    <td><#LANG_ZONEMINDER_TOTAL#>: [#TOTAL.count#]</td>
    <td></td>
    <td style="text-align: center">
      [#TOTAL.bandwidth#]
    </td>
    <td></td>
    <td style="text-align: center">
      <div style="display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
        <span>[#TOTAL.HourEvents#]</span>
        <span style="font-size: 0.8em;">[#TOTAL.HourEventDiskSpace#]</span>
      </div>
    </td>
    <td style="text-align: center">
      <div style="display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
        <span>[#TOTAL.DayEvents#]</span>
        <span style="font-size: 0.8em;">[#TOTAL.DayEventDiskSpace#]</span>
      </div>
    </td>
    <td style="text-align: center">
      <div style="display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
        <span>[#TOTAL.WeekEvents#]</span>
        <span style="font-size: 0.8em;">[#TOTAL.WeekEventDiskSpace#]</span>
      </div>
    </td>
    <td style="text-align: center">
      <div style="display: flex; flex-direction: column; align-items: stretch; gap: 8px;">
        <span>[#TOTAL.MonthEvents#]</span>
        <span style="font-size: 0.8em;">[#TOTAL.MonthEventDiskSpace#]</span>
      </div>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>
-->
<div class="modal fade" id="editMonitor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="editMonitorForm" method="post" action="?">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" name="monitorname" value="" />
            <input type="hidden" name="monitor" value="" />
            <input type="hidden" name="view_mode" value="update_monitor_name" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"><#LANG_UPDATE#></button>
          <button type="button" class="btn btn-default" data-dismiss="modal"><#LANG_ZONEMINDER_CLOSE#></button>
        </div>
      </form>
    </div>
  </div>
</div>